* {
   /* border: 1px solid black; */

   box-sizing: border-box;
}


body {
   margin: 0px;
   width: 100%;
   height: 100vh;

   display: flex;
   flex-direction: row;
}

/* 좌측 여백 */
.space {
   width: 20px;
   height: 100%;
}

main {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
}





/* header */

header {
   width: 100%;
   flex-basis: 56px;

   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

header > section:nth-of-type(1) {
   width: 169px;
   display: flex;
   
   align-items: center;
}

/* 메뉴 시작 */
header .fa-bars {
   width: 40px;
   height: 40px;
   
   font-size: 24px;
   background-color: transparent;
   border: none;

   cursor: pointer;
   transition-duration: 0.1s;
   border-radius: 50px;
}

header .fa-bars:hover {
   background-color: rgba(155, 155, 155, 0.767);
}

/* 홈 로고 */

header > section:nth-of-type(1) > a {
   padding: 18px 14px 18px 16px;

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   text-decoration: none;  
}

header > section:nth-of-type(1) i {
   width: 30px;
   height: 20px;

   text-align: center;
   color: white;
   background-color: red;
   border-radius: 5px;
   line-height: 20px;
}

header > section:nth-of-type(1) p {
   height: 20px;
   color: black;
   font-weight: bold;
   margin: 0;
   line-height: 10px;
}


/* 검색창 */

header > .search {
   height: 40px;
   flex-basis: 55%;

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;

}

header > .search * {
   display : inline;
}
.search > fieldset {
   width: 100%;
   display: flex;
   align-items: center;
   border: 1px solid grey;
   border-top-left-radius: 20px;

}

header > .search input {
   flex-basis: 100%;
   height: auto;
   border: none;
}

header .fa-keyboard {
   flex-basis: 27px;
   height: 24px;
   background-color: transparent;
   border: none;
   padding: 0px 4px;
}

header .fa-magnifying-glass {
   flex-basis: 60px;
   height: 40px;
   border: none;
   background-color: transparent;
}



/* video*/
.video {
   height: 100%;
   width: 100%;

   display: flex;
   flex-direction: row;
}

.video-view, .video-next{
   flex-basis: 50%;
   height: 100%;
}

.video, .video * {
   border: 1px solid black;
}